<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>New User</h2>
      <h4>email@</h4>
    </div>
    <img src="./assets/budget.jpg" alt="moneyjar image">
  </div>

<mat-divider></mat-divider>

<h2 matSubheader>Pages</h2>

<a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">Dashboard</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/">Home</a>

<mat-divider></mat-divider>
<h2 matSubheader>Add Budget</h2>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/post"> Add budget</a>
</mat-nav-list>

